@model Teacher_Evaluation_System__Golden_Success_College_.Models.Role

<h2>Role Info</h2>

@if (Model != null)
{
    <p>ID: @Model.RoleId</p>
    <p>Name: @Model.Name</p>
}
else
{
    <p>No role found</p>
}
